[submodule "RAG_Pipeline"]
	path = RAG_Pipeline
	url = https://github.com/CTUStudyMate/RAG_Pipeline.git
[submodule "rag_eval"]
	path = rag_eval
	url = https://github.com/CTUStudyMate/RAG-Pipeline-Evaluation.git
